venv/
__pycache__/
*.pyc
.DS_Store
*.pdf

## ignore Env file 
test.pem
*.pem
.env
.env.local
.envrc
.venv/
.ruff_cache/
.pytest_cache/
.mypy_cache/
logs/
data/
!data/local/sample_graph.json
.streamlit/secrets.toml
.ipynb_checkpoints/
dist/
build/
*.egg-info/
node_modules/
